{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
	<h1>Persons</h1>
	<div class="row-fluid">
		<div class="span6" id="filters">
			<div id="filters-header" class="label">Filters</div>
			<div id="filters-content">
				<form action="" method="GET" class="form-horizontal" id="filter-form">
					{% csrf_token %}
					{{ fitersets_group.total_forms }}
					{% for form in fitersets_group.forms %}
						<fieldset id="{{ form.prefix }}-fieldset">
							{% if fitersets_group.filterset_counter > 1 %}<a class="close">×</a>{% endif %}
							{% for field in form %}
								<div class="control-group form-row">
									{% if field.errors %}
										<ul class="error_list">
											{% for error in field.errors %}
												<li>{{ error }}</li>
											{% endfor %}
										</ul>
									{% endif %}	
									<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									<div class="controls">
										{{ field }}
										{% if field.help_text %}<p class="help_block">{{ field.help_text }}</p>{% endif %}
									</div>
								</div>
							{% endfor %}
						</fieldset>
						<div class="or">
							<div class="btn btn-mini {% if not forloop.last %}disabled{% endif %}"><i class="icon-plus"></i> OR</div>
						</div>
					{% endfor %}

					<div class="form-actions">
						<input type="submit" value="Filter" class="btn btn-primary btn-large" style="width: 150px;" />
					</div>
				</form>
			</div>
		</div>
	
		<div class="span6">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Sex</th>
						<th>Groups</th>
					</tr>
				</thead>
				<tbody>
					{% for object in fitersets_group %}
						<tr>
							<td>{{ object.first_name }}</td>
							<td>{{ object.last_name }}</td>
							<td>{{ object.get_sex_display }}</td>
							<td>
								<ul>
									{% for group in object.groups.all %}
										<li>{{ group }}</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="results-counter">
				<span class="label label-info">Distinct occurrences: {{ fitersets_group.qs|length }}</span>
				<span class="label">Occurences with repetitions: {{ fitersets_group.base_qs|length }}</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var options = jQuery.parseJSON('{{ fitersets_group.get_filters_as_options|safe|addslashes }}');
	</script>
	<script type="text/javascript" src="{% static "js/dynamic_filterset.js" %}"></script>
{% endblock %}
